.messageBlock {
    background-color: rgb(35, 1, 68);
    color: rgb(236, 233, 9);
    padding: 5px 10px 5px 10px;
    border-radius:5px 5px 5px 0;
    position: relative;
    margin-left:10px;
}
.messageBlock::before {
    content: "";
    position: absolute;
    border-bottom: 15px solid rgb(35, 1, 68);
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    bottom: 0;
    left:-12px;

}

